<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Восстановление пароля</title>
</head>
<body>
    <h3>Восстановление пароля</h3>
    <p>Забыли пароль? Введите свой адрес электронной почты ниже, и мы отправим вам инструкции по установке нового адреса электронной почты.</p>
    <br>
    <p>Адрес электронной почты:</p>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="Submit" name="Сбросить пароль">
    </form>
</body>
</html>